# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/
.env
*.egg

# Node
node_modules/
build/
.next/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
